:root {
  --dark-blue: #274C77;
  --light-blue: #6096BA;
  --dark-grey: #8B8C89;
  --light-grey: #E7ECEF;
}

body {
  background-color: whitesmoke;
}

.body {
  margin: 2%;
  padding: 12px;
}

.grid-card {
  width: 30vw;
  height: fit-content;
  transition: all 100ms ease;
}

.grid-card-visible {
  opacity: 100%;
}

.grid-card-hidden {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 100ms ease-in-out;
  color: var(--light-grey);
}

.grid-card:hover {
  background-color: black;
  color: white;
}

.grid-card:hover .grid-card-hidden {
  visibility: visible;
  transform: translate(-50%, -50%);
}

.grid-card:hover .grid-card-visible {
  opacity: 25%;
}
